- var sortedFiles = _.orderBy(files,function(f){ return f.meta.date||f.meta.name },'asc')

each file in sortedFiles
    - if (file.meta.category == "misc" && !file.meta.isIndex)
        - var strippedContent = file.contents.toString().replace(/<iframe[\s\S]*\/iframe>/gi,'');
        .box
            h1!= file.meta.pagetitle
            span!=strippedContent
            a.button.is-primary(href=file.meta.permalink) View
    - if (file.meta.category == "misc" && file.meta.isIndex)
        p There are lots of demos etc. on my
            a(href="http://codepen.io/fenwick/") Codepen Page
            | .  Some other things are featured below:
        .box
            h1
                a(href="/models") Models
            p A simple .stl model viewer with Three.js
        .box
            h1
                a(href="/xmb-home") Old XMB concept
            p This was an old concept I had for my homepage, inspired by the beautiful XMB user interface.
        .box
            h1
                a(href="http://www.mastofeed.com") Mastofeed
            p A way to embed Mastodon feeds via iframe, which Mastodon doesn't support natively.  As seen on my 
                a(href="/") Homepage.
