
.pc{
display:flex;
flex-direction:column;
justify-content:space-between;
width:100%;
height:100%;
font-family: 'Roboto', sans-serif;
}
.pc *:not(.ui-resizable-resizing):not(.ui-draggable-dragging){  
  transition:background-color .3s, top .4s, height .4s, transform .4s, box-shadow .3s;
}
.desktop{
  flex:1 1 auto;
  background-color:#AEE8D3;
  /*background-image:url("/img/bg.jpg");*/
  overflow:hidden;
  background-size:cover;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-content:flex-start;
}
.taskbar{
flex: 0 1 auto;
display:flex;
background-color:#00FFBA;
width:100%;
height:2em;
bottom:0;
left:0;
right:0;
box-shadow:0 0 5px black;
}
div.taskbarItem{
line-height:1.4em;
font-size:1.3em;
margin:0 .5em;
padding: 0 .5em;
background-color:rgba(255,255,255,.5);
overflow:hidden;
}
.startbutton{
display:block;
height:2em;
width:3em;
}
.startbutton-inner{
  width:100%;
  height:100%;
  background-image:url("/img/arrow-up.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition:all .3s;
}
.startbutton.active>.startbutton-inner{
  transform:rotate(180deg);
}
.winder{
color:#AEE8D3;
display:flex;
position:absolute !important;
flex-direction:column;
width:350px;
height:400px;
background-color:currentcolor;
top:1em;
left:1em;
border:solid 5px currentcolor;
box-shadow:0 0 5px black;
}
.windowcontent,.windowContent{
display:block;
background:white;
overflow:auto;
flex: 1 1 auto;
/*
position:relative;
width:inherit;*/
height:inherit;
width:inherit;
}
.windowContent{
overflow:hidden;
opacity:50%;
}
.ui-resizable-se.ui-resizable-handle{
right:-5px;
bottom:-5px;
}
div.ui-resizable-handle{
}
.windowhandle,.windowcontent{
z-index:91;
}
.windowhandle{
position:relative;
display:flex;
flex-flow: row nowrap;
justify-content:space-between;
flex-shrink:0;
height:2em;
}
.windowactions{
color:black;
display:flex;
}
.windowtitle{
padding-left:.3em;
color:#002115;
float:left;
line-height:1.4em;
font-size:1.3em;
cursor:move;
flex:1 1 auto;
}
.closebutton,.minimizebutton,.maximizebutton{
margin:0 .1em 0 .1em;
background-size:75%;
background-repeat:no-repeat;
background-position:center center;
display:block;
text-align:center;
width:1.8em;
height:1.8em;
background-color:rgba(255,255,255,.5);
}
.closebutton:hover{
background-color:#FF5A36;
}
.minimizebutton:hover,.maximizebutton:hover,.taskbarItem:hover,.startbutton:hover{
background-color:rgba(255,255,255,.9);
}
.minimizebutton{
background-image:url("../img/Minus-icon.svg");
}
.maximizebutton{
background-image:url("../img/window-icon.svg");
}
.closebutton{
background-image:url("../img/X-icon.svg");
}
html,body{
width:100%;
height:100%;
overflow:hidden;
}
.launcher{
  position:absolute;
  bottom:2em;
  left:0;
  background-color:white;
  z-index:1000;
  overflow:hidden;
  transition:all .3s;
  height:385px;  
  box-shadow:0 0 5px black;
}
.launcher.launcher-hidden{
  height:0;
}
.launcher li{
  line-height:400%;
  transition:all .1s;
  min-width:10em;
  display:flex;
  align-items:center;
  padding: 0 10px;
}
.launcher li:hover{
  background-color:#ddd;
}
.launcher li>img{
  width:30px;
  height:30px;
  margin: 0 10px;
    -webkit-filter:drop-shadow(0px 0px 5px black);
  filter:drop-shadow(0px 0px 5px black);
}
.winder.active{
  color:#00FFBA;
}
.winder.fullscreen{
box-shadow:none;
border:none;
}
.winder.fullscreen .ui-resizable-handle{
  width:0;
  height:0;
}
.winder,.taskbar{
cursor:default;
}
.draghider{
position:absolute;
width:100%;
height:100%;
}
.desktop-icon {
  display:inline-block;
  width:80px;
  text-align:center;
  margin:10px;
  cursor:pointer;
  background-color:white;
  box-shadow:0 1px 5px 0 rgba(0,0,0,.6);
}
.desktop-icon:hover{
  box-shadow:0 2px 10px 0 rgba(0,0,0,.3);
  transform:scale(1.05);
}
.desktop-icon img{
  display:block;
  width:100%;
}
.desktop-icon .title{
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: #00FFBA;
}