.hero h1{
  font-size:3em;
  margin:0.7em;
  font-weight:lighter;
  text-align:center;
}
.reading{
  font-size:1.5rem;
  max-width:40em;
  margin: 0 auto;
}
.reading p{  
  font-family:Verdana, sans-serif;
  font-size:1.4rem;
}
.article-body{
  overflow:hidden;
}
.reading:not(.expanded) .article-body *:nth-child(1n+4){
  display:none;
}
.reading.expanded .ellipsis{
  display:none;
}

.section,.level,.container{
  background-color:inherit;
}