html,body{
  background-color:#888888;
  display:flex;
  height:100%;
  width:100%;
  align-content:stretch;
  align-items:stretch;
}
#left{
  width:15em;
  background-color: #888888;
  color:#000;
  height:100%;
  overflow:auto;
  z-index:1;
  font-size:1.2em;
  transition:width .5s;
}
#left.collapsed{
  width:0;
}
.model,.info{
  line-height:1.5em;
  padding:1em;
}
.model{
  margin:1em;
  cursor:pointer;
  background-color:#ccc;
}
#viewer{
  width:10px;
  flex:1 1 auto;
  cursor:move;
  overflow:hidden;
  position:relative;
}
#download,#spin,#shrink{
  text-decoration:none;
  line-height:1em;
  position:absolute;
  background-color:#888;
  right:20px;
  bottom:20px;
  color:#000;
  display:inline-block;
  font-size: 70px;
}
#download:after{
  content:"";
  display:block;
  background-color:currentcolor;
  height:.1em;
  width:.75em;
  left:.125em;
  position:absolute;
  bottom:.1em;
}
#download,#spin,#left,#shrink,.model{  
/*box shadow*/
  box-shadow:0 1px 5px 0 rgba(0,0,0,0.4);
  transition:all .5s;
}
#download,#spin,.model,#shrink{
  /*rounded corners*/
  background-color:#ccc;
  border:solid 1px rgba(0,0,0,0.2);
}
#download:hover,#spin:hover,.model:hover,#shrink:hover{
  box-shadow:0 3px 15px 0 rgba(0,0,0,0.3);
}
#spin{
  bottom:initial;
  top:20px;
}
#spin.active{
  color: #dc8962;
}
#shrink{
  position:absolute;
  left:20px;
  top:20px;
  right:initial;
  bottom:initial;
  display:inline-block;
}
#progress-outer{
  width:100%;
  background-color:transparent;
  height:20px;
  position:absolute;
  right:0;
  top:0;
}
#progress{ 
  height:100%;
  background-color:#ffad86;
}
.hidden{
  display:none;
}