- var sortedFiles = _.orderBy(files,function(f){ return f.meta.date||f.meta.name },'asc')

each file in sortedFiles
    - if (file.meta.category == "games" && !file.meta.isIndex)
        - var strippedContent = file.contents.toString().replace(/<iframe[\s\S]*\/iframe>/gi,'');
        .box
            h1!= file.meta.pagetitle
            if file.meta.date
                small.dt-published(datetime=isoDate)= file.meta.date
            span!=strippedContent
