<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Homepage of Drew Harwell</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons|Roboto'>
    <link rel="stylesheet" href="./style.css"></link>
    <link rel="stylesheet" href="./style.less.css"></link>
  </head>
  <body>
    <h1 class="top">Drew Harwell</h1>
    <div id="xmb-contain">
      <div id="xmb" v-cloak>
        <ul>
          <li v-for="column,index in columns" v-bind:class="{active:column.active}" v-bind:style="{left:column.position.x+'px'}" class="column">
            <div v-bind:class="{active:column.active}" v-on:click="highlightCell(column.index,0)" class="cell"><i class="material-icons xmb-icon">{{column.icon}}</i>
              <label>{{column.title}}</label>
            </div>
            <ul>
              <li v-for="item,itemIndex in column.items"
               v-bind:class="{active:item.active}"
               v-bind:style="{top:item.position.y+'px'}"
                v-on:click="highlightCell(column.index,itemIndex)"
                 class="cell submenu">
                <a v-bind:href="item.active?item.href||'#missinglink':'#'">
                  <i v-if= "item.icon" class="material-icons xmb-icon">{{item.icon}}</i>
                  <i v-if="!item.icon" class="xmb-icon" v-bind:style="{backgroundImage:item.iconUrl||''}"></i>
                  <label>{{item.title}}
                    <label class="subtitle">{{item.subtitle}}</label>
                  </label>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <script src="./build.min.js"></script>
  </body>
</html>
