- var sortedFiles = _.orderBy(files,function(f){return new Date(f.meta.date)},'desc')

each file in sortedFiles
	- if (file.meta.category == "blog" && !file.meta.isIndex)
		.box
			h1!= file.meta.pagetitle
			small!= file.meta.date
			.article-body!= file.contents
			.level.is-mobile
				.level-left
					.level-item.ellipsis 
						.icon.is-medium
							i.fa.fa-ellipsis-h 
				.level-right
					a.level-item.button.is-info.continue-reading 
						.icon
							i.fa.fa-caret-down
						span Read The Rest
					a.level-item.button.is-info.is-outlined(href=file.meta.permalink)
						.icon
							i.fa.fa-link
						span Permalink