<!DOCTYPE html>
html
    include includes/head
    body
        // vars:  category, content, contents (plural means multiple pages, i.e. landing page)
            content objects contain: title, date, html, permalink
        include includes/header

        div#pagecontent
            .article-body.content.reading.section
                if pagetitle
                    h1= pagetitle
                if date
                    small= date
                div!= content.html

        .footer
            .container
                .content.has-text-centered
                    p
                        a.icon(href="//github.com/fenwick67")
                            i.fa.fa-github
                        a.icon(href="mailto:dfharwell@gmail.com")
                            i.fa.fa-envelope
                        a.icon(href="//steamcommunity.com/id/fenwick67/")
                            i.fa.fa-steam