<!DOCTYPE html>
html
    include includes/head
    body
        // vars:  category, content, contents (plural means multiple pages, i.e. landing page)
            content objects contain: title, date, html, permalink, isoDate
        include includes/header

        div#pagecontent.h-entry
            .article-body.content.reading.section
                if pagetitle
                    h1.p-name= pagetitle
                if date
                    small.dt-published(datetime=isoDate)= date
                div.e-content!= content.html

        .footer.container.has-text-centered
            span Contact:&nbsp;&nbsp;
                a(rel="me", href="//github.com/fenwick67") 🐙&#xFE0F;&nbsp;Github&nbsp;&nbsp;
                a(rel="me", href="mailto:dfharwell@gmail.com") 📧&#xFE0F;&nbsp;Email&nbsp;&nbsp;
                a(rel="me", href="//octodon.social/@fenwick67") 🐘&#xFE0F;&nbsp;Mastodon&nbsp;&nbsp;
                a(rel="me", href="//twitter.com/fenwick67") 🐦&#xFE0F;&nbsp;Twitter&nbsp;&nbsp;
        include includes/scripts
