<!DOCTYPE html>
html
    include includes/head
    body
        // vars:  category, content, contents (plural means multiple pages, i.e. landing page)
            content objects contain: title, date, html, permalink
        include includes/header

        div#pagecontent

            .article-body.content.reading.section
                if content.title
                    h1= content.title
                if content.date
                    small= content.date
                div!= content.html

        include includes/scripts