head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title + (category?(" - "+_.capitalize(category)):'') + (pagetitle?(' - '+pagetitle):'')
    meta(name="description", content= summary || "")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content=themeColor)
    link(rel="prefetch", href="/fonts/icomoon.woff")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="icon" sizes="180x180" href="/apple-touch-icon.png")
