script( type="text/javascript") var t = document.getElementById('nav-toggle');var m = document.getElementById('nav-menu');t.addEventListener('click',function(){ t.classList.toggle('is-active');m.classList.toggle('is-active');})
