.hero h1{
  font-size:3em;
  margin:0.7em;
  font-weight:lighter;
  text-align:center;
}
.reading{
  font-size:1.5rem;
  max-width:40em;
  margin: 0 auto;
}
.reading p{  
  font-family:Verdana, sans-serif;
  font-size:1.4rem;
}
.reading iframe{
  width:100%;
  min-height:450px;
}
.article-body{
  overflow:hidden;
}
.box:not(.expanded) .article-body *:nth-child(1n+4){
  display:none;
}
.box.expanded .ellipsis{
  display:none;
}
.section,.level,.container{
  background-color:inherit;
}
html{
  height:100%;
}
body{
  min-height:100%;
  display:flex;
  flex-direction:column;
}


// Override variables here
// You can add new ones or update existing ones:

$primary: #ffcb00; // Update primary color
$info: #ff3860;
$link-visited:$info;

@import "bulma";


.hero nav.nav{
  background-color:black;
}
.nav .nav-item.is-tab{
  transition: all 0.5s !important;
  border-bottom-width: 5px !important;
}
.nav .nav-item.is-tab:hover{
  color:$primary;
  background-color:rgba(255,255,255,0.2);
}
.nav .logo{
  font-size:2em;
  color:$primary;
}