.hero h1{
  font-size:3em;
  margin:0.7em;
  font-weight:lighter;
  text-align:center;
}
.reading{
  font-size:1.5rem;
  max-width:40em;
  margin: 0 auto;
}
.reading p{
  font-family:Verdana, sans-serif;
  font-size:1.4rem;
}
.reading iframe{
  width:100%;
  min-height:450px;
}
.article-body{
  overflow:hidden;
}
.box:not(.expanded) .article-body *:nth-child(1n+2){
  display:none;
}
.box.expanded .ellipsis{
  display:none;
}
.section,.level,.container{
  background-color:inherit;
}
html{
  height:100%;
}
body{
  min-height:100%;
  display:flex;
  flex-direction:column;
}


// Override variables here
// You can add new ones or update existing ones:

$prim-light:#6BCFD3;

$primary: #73DCB4; // Update primary color
$info: darken($prim-light,30%);

$link:darken($primary,20%);
$link-visited:darken($primary,20%);
$white: lighten(#E4F3EB,5%);
$really-white:#fff;
$top-color:$white;
$text:#01001F;
$grey:lighten($text,0.5);
$body-background: $white;
$background: $white;

$big-shadow:0 20px 60px rgba(10, 10, 10, 0.02), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2), 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);

// 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1)
@import "bulma";

//style the boxes

.box{
  background-color:$really-white;
  box-shadow:$big-shadow;
}

//nav styling
.hero nav.nav,.nav .nav-menu, .nav-toggle:hover{
  background-color:$top-color;
  box-shadow:none;
}
.nav .nav-item.is-tab{
  transition: all 0.5s !important;
  border-bottom-width: 5px !important;
}
.nav .nav-item.is-tab:hover, .nav .nav-item.is-tab.is-active{
  color:$grey;
  border-bottom-color:$primary;
}
.nav .logo{
  font-size:2em;
}

// hero and mini hero

.sidekick{
  height:1em;
}
.hero.is-bold.is-primary, .sidekick{
  background-color:$primary;
  background-image:linear-gradient(141deg, $primary 0%, mix($primary,$info) 71%, $info 100%);
}
